{
  "openapi": "3.1.0",
  "info": {
    "title": "FastAPI",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.uiform.com"
    }
  ],
  "paths": {
    "/api/v1/documents/monthly-usage": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Monthly Request Count",
        "operationId": "get_monthly_request_count_api_v1_documents_monthly_usage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyUsageResponseContent"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/documents/extractions": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Extraction",
        "operationId": "extraction_api_v1_documents_extractions_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "OpenAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Openai-Api-Key"
            }
          },
          {
            "name": "Claude-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Claude-Api-Key"
            }
          },
          {
            "name": "Gemini-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Gemini-Api-Key"
            }
          },
          {
            "name": "XAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Xai-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UiParsedChatCompletion"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/create_messages": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create Messages",
        "operationId": "create_messages_api_v1_documents_create_messages_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreateMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/documents/correct_image_orientation": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Correct Image Orientation",
        "operationId": "correct_image_orientation_api_v1_documents_correct_image_orientation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCorrectOrientationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCorrectOrientationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schemas/promptify": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Promptify",
        "description": "Receives a Raw JSON Schema (if custom annotations or not), a set of documents and an text_operations.\nReturns a Prompted JSON Schema, containing custom prompting annotations.",
        "operationId": "promptify_api_v1_schemas_promptify_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "idempotency_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency Key"
            }
          },
          {
            "name": "OpenAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Openai-Api-Key"
            }
          },
          {
            "name": "Claude-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Claude-Api-Key"
            }
          },
          {
            "name": "Gemini-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Gemini-Api-Key"
            }
          },
          {
            "name": "XAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Xai-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schemas/generate": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Generate Schema From Examples",
        "description": "Generates a JSON Schema from scratch by inferring structure from the content of the provided example documents.",
        "operationId": "generate_schema_from_examples_api_v1_schemas_generate_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "idempotency_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency Key"
            }
          },
          {
            "name": "OpenAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Openai-Api-Key"
            }
          },
          {
            "name": "Claude-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Claude-Api-Key"
            }
          },
          {
            "name": "Gemini-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Gemini-Api-Key"
            }
          },
          {
            "name": "XAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Xai-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSchemaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/organizations/schemas/": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "List Schemas",
        "operationId": "list_schemas_api_v1_iam_organizations_schemas__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "data_structure_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Data Structure Version"
            }
          },
          {
            "name": "is_current",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Is Current"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Is Active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationSchemaEntry"
                  },
                  "title": "Response List Schemas Api V1 Iam Organizations Schemas  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Schema",
        "operationId": "create_schema_api_v1_iam_organizations_schemas__post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSchemaEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSchemaEntry"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/organizations/schemas/data_structure_versions": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "Get All Data Structure Versions",
        "operationId": "get_all_data_structure_versions_api_v1_iam_organizations_schemas_data_structure_versions_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Is Active"
            }
          },
          {
            "name": "is_current",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Is Current"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Response Get All Data Structure Versions Api V1 Iam Organizations Schemas Data Structure Versions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/organizations/schemas/{schema_version}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "Get Schema",
        "operationId": "get_schema_api_v1_iam_organizations_schemas__schema_version__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "schema_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Schema Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSchemaEntry"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Update Schema",
        "operationId": "update_schema_api_v1_iam_organizations_schemas__schema_version__post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "schema_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Schema Version"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSchemaEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSchemaEntry"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/organizations/schemas/{version}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "Delete Schema",
        "operationId": "delete_schema_api_v1_iam_organizations_schemas__version__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "schema_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Schema Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/applications/create_application": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Application",
        "operationId": "create_application_api_v1_iam_applications_create_application_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApplicationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/applications/list": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "List Applications",
        "operationId": "list_applications_api_v1_iam_applications_list_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApplicationsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/applications/{client_id}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "Delete Application",
        "operationId": "delete_application_api_v1_iam_applications__client_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The client ID of the application to delete",
              "title": "Client Id"
            },
            "description": "The client ID of the application to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Delete Application Api V1 Iam Applications  Client Id  Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "IAM"
        ],
        "summary": "Update Application",
        "operationId": "update_application_api_v1_iam_applications__client_id__patch",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/payments/create-checkout-session": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Checkout Session",
        "description": "Creates a Stripe checkout session for monthly subscription.",
        "operationId": "create_checkout_session_api_v1_iam_payments_create_checkout_session_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "object",
                  "title": "Response Create Checkout Session Api V1 Iam Payments Create Checkout Session Post"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/payments/create-portal-session": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Portal Session",
        "description": "Creates a Stripe Customer Portal session for managing subscriptions.\n\nArgs:\n    identity: The authenticated user/application identity\n\nReturns:\n    Dictionary containing the portal URL",
        "operationId": "create_portal_session_api_v1_iam_payments_create_portal_session_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Create Portal Session Api V1 Iam Payments Create Portal Session Post"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/payments/subscription-status": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "Subscription Status",
        "operationId": "subscription_status_api_v1_iam_payments_subscription_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/payments/webhook": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Stripe Webhook",
        "operationId": "stripe_webhook_api_v1_iam_payments_webhook_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Stripe Webhook Api V1 Iam Payments Webhook Post"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/team/create_and_link_organization": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create And Link Organization",
        "operationId": "create_and_link_organization_api_v1_iam_team_create_and_link_organization_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAndLinkOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/team/members": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "List Team Members",
        "operationId": "list_team_members_api_v1_iam_team_members_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamMember"
                  },
                  "type": "array",
                  "title": "Response List Team Members Api V1 Iam Team Members Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/team/members/{member_id}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "Remove Team Member",
        "operationId": "remove_team_member_api_v1_iam_team_members__member_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Member Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/team/invitations": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "List Invitations",
        "operationId": "list_invitations_api_v1_iam_team_invitations_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamInvitation"
                  },
                  "type": "array",
                  "title": "Response List Invitations Api V1 Iam Team Invitations Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Invitation",
        "operationId": "create_invitation_api_v1_iam_team_invitations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/team/invitations/{invitation_id}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "Revoke Invitation",
        "operationId": "revoke_invitation_api_v1_iam_team_invitations__invitation_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Invitation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/iam/api_keys/": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "List Api Keys",
        "operationId": "list_api_keys_api_v1_iam_api_keys__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/APIKeyInfo"
                  },
                  "type": "array",
                  "title": "Response List Api Keys Api V1 Iam Api Keys  Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "Create Api Key",
        "operationId": "create_api_key_api_v1_iam_api_keys__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ]
      }
    },
    "/api/v1/iam/api_keys/{key_id}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "Revoke Api Key",
        "operationId": "revoke_api_key_api_v1_iam_api_keys__key_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get Models",
        "operationId": "get_models_api_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "object",
                  "title": "Response Get Models Api V1 Models Get"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/upload-files": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Upload Files",
        "operationId": "upload_files_api_v1_datasets_upload_files_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Dataset ID to upload files to",
              "title": "Dataset Id"
            },
            "description": "Dataset ID to upload files to"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_files_api_v1_datasets_upload_files_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/stored-object/{file_path}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get Stored Object",
        "operationId": "get_stored_object_api_v1_datasets_stored_object__file_path__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "file_path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Stored Object Api V1 Datasets Stored Object  File Path  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/files": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List Files",
        "operationId": "list_files_api_v1_datasets_files_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter files by dataset ID",
              "title": "Dataset Id"
            },
            "description": "Filter files by dataset ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page",
              "default": 10,
              "title": "Page Size"
            },
            "description": "Items per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "title": "Sort By"
            },
            "description": "Sort by field"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order (asc, desc)",
              "title": "Sort Order"
            },
            "description": "Sort order (asc, desc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListFilesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/datasets": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create Dataset",
        "operationId": "create_dataset_api_v1_datasets_datasets_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List Datasets",
        "operationId": "list_datasets_api_v1_datasets_datasets_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of datasets to skip",
              "default": 0,
              "title": "Skip"
            },
            "description": "Number of datasets to skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of datasets to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Maximum number of datasets to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search term for dataset name",
              "title": "Search"
            },
            "description": "Search term for dataset name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/datasets/{dataset_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get Dataset",
        "operationId": "get_dataset_api_v1_datasets_datasets__dataset_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/files/{file_id}": {
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Delete File",
        "operationId": "delete_file_api_v1_datasets_files__file_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Delete File Api V1 Datasets Files  File Id  Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/datasets/{dataset_id}/annotated-datasets": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create Annotated Dataset",
        "operationId": "create_annotated_dataset_api_v1_datasets_datasets__dataset_id__annotated_datasets_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnotatedDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedDataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List Annotated Datasets",
        "operationId": "list_annotated_datasets_api_v1_datasets_datasets__dataset_id__annotated_datasets_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAnnotatedDatasetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/annotated-datasets/{annotated_dataset_id}/files": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create Annotated File",
        "operationId": "create_annotated_file_api_v1_datasets_annotated_datasets__annotated_dataset_id__files_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnotatedFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedFile"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List Annotated Dataset Files",
        "operationId": "list_annotated_dataset_files_api_v1_datasets_annotated_datasets__annotated_dataset_id__files_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000,
              "minimum": 1,
              "description": "Items per page",
              "default": 10,
              "title": "Page Size"
            },
            "description": "Items per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "title": "Sort By"
            },
            "description": "Sort by field"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order (asc, desc)",
              "title": "Sort Order"
            },
            "description": "Sort order (asc, desc)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "not-annotated",
                    "in-progress",
                    "annotated"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListFilesWithAnnotationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/annotated-datasets/{annotated_dataset_id}/files/{file_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get Annotated File",
        "operationId": "get_annotated_file_api_v1_datasets_annotated_datasets__annotated_dataset_id__files__file_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileWithAnnotationAndSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Datasets"
        ],
        "summary": "Update Annotated File",
        "operationId": "update_annotated_file_api_v1_datasets_annotated_datasets__annotated_dataset_id__files__file_id__put",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAnnotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedFile"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/annotated-datasets/{annotated_dataset_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get Annotated Dataset",
        "operationId": "get_annotated_dataset_api_v1_datasets_annotated_datasets__annotated_dataset_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedDataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Datasets"
        ],
        "summary": "Update Annotated Dataset",
        "operationId": "update_annotated_dataset_api_v1_datasets_annotated_datasets__annotated_dataset_id__put",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAnnotatedDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedDataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/annotated-datasets/{annotated_dataset_id}/bulk-annotate": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Bulk Annotate Files",
        "operationId": "bulk_annotate_files_api_v1_datasets_annotated_datasets__annotated_dataset_id__bulk_annotate_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_bulk_annotate_files_api_v1_datasets_annotated_datasets__annotated_dataset_id__bulk_annotate_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkAnnotationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/astre/documents/extractions": {
      "post": {
        "tags": [
          "Custom"
        ],
        "summary": "Extractions",
        "operationId": "extractions_api_custom_astre_documents_extractions_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "OpenAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Openai-Api-Key"
            }
          },
          {
            "name": "Claude-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Claude-Api-Key"
            }
          },
          {
            "name": "Gemini-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Gemini-Api-Key"
            }
          },
          {
            "name": "XAI-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Xai-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AstreDocumentAPIRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AstreDocumentAPIResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/upload-files": {
      "post": {
        "summary": "Upload Files",
        "operationId": "upload_files_datasets_upload_files_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Dataset ID to upload files to",
              "title": "Dataset Id"
            },
            "description": "Dataset ID to upload files to"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_files_datasets_upload_files_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/stored-object/{file_path}": {
      "get": {
        "summary": "Get Stored Object",
        "operationId": "get_stored_object_datasets_stored_object__file_path__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "file_path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Stored Object Datasets Stored Object  File Path  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/files": {
      "get": {
        "summary": "List Files",
        "operationId": "list_files_datasets_files_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter files by dataset ID",
              "title": "Dataset Id"
            },
            "description": "Filter files by dataset ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page",
              "default": 10,
              "title": "Page Size"
            },
            "description": "Items per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "title": "Sort By"
            },
            "description": "Sort by field"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order (asc, desc)",
              "title": "Sort Order"
            },
            "description": "Sort order (asc, desc)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListFilesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/datasets": {
      "post": {
        "summary": "Create Dataset",
        "operationId": "create_dataset_datasets_datasets_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Datasets",
        "operationId": "list_datasets_datasets_datasets_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of datasets to skip",
              "default": 0,
              "title": "Skip"
            },
            "description": "Number of datasets to skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of datasets to return",
              "default": 10,
              "title": "Limit"
            },
            "description": "Maximum number of datasets to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search term for dataset name",
              "title": "Search"
            },
            "description": "Search term for dataset name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/datasets/{dataset_id}": {
      "get": {
        "summary": "Get Dataset",
        "operationId": "get_dataset_datasets_datasets__dataset_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/files/{file_id}": {
      "delete": {
        "summary": "Delete File",
        "operationId": "delete_file_datasets_files__file_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Delete File Datasets Files  File Id  Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/datasets/{dataset_id}/annotated-datasets": {
      "post": {
        "summary": "Create Annotated Dataset",
        "operationId": "create_annotated_dataset_datasets_datasets__dataset_id__annotated_datasets_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnotatedDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedDataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Annotated Datasets",
        "operationId": "list_annotated_datasets_datasets_datasets__dataset_id__annotated_datasets_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAnnotatedDatasetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/annotated-datasets/{annotated_dataset_id}/files": {
      "post": {
        "summary": "Create Annotated File",
        "operationId": "create_annotated_file_datasets_annotated_datasets__annotated_dataset_id__files_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnotatedFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedFile"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Annotated Dataset Files",
        "operationId": "list_annotated_dataset_files_datasets_annotated_datasets__annotated_dataset_id__files_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000,
              "minimum": 1,
              "description": "Items per page",
              "default": 10,
              "title": "Page Size"
            },
            "description": "Items per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort by field",
              "title": "Sort By"
            },
            "description": "Sort by field"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order (asc, desc)",
              "title": "Sort Order"
            },
            "description": "Sort order (asc, desc)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "not-annotated",
                    "in-progress",
                    "annotated"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListFilesWithAnnotationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/annotated-datasets/{annotated_dataset_id}/files/{file_id}": {
      "get": {
        "summary": "Get Annotated File",
        "operationId": "get_annotated_file_datasets_annotated_datasets__annotated_dataset_id__files__file_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileWithAnnotationAndSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Annotated File",
        "operationId": "update_annotated_file_datasets_annotated_datasets__annotated_dataset_id__files__file_id__put",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAnnotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedFile"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/annotated-datasets/{annotated_dataset_id}": {
      "get": {
        "summary": "Get Annotated Dataset",
        "operationId": "get_annotated_dataset_datasets_annotated_datasets__annotated_dataset_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotated Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedDataset"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Annotated Dataset",
        "operationId": "update_annotated_dataset_datasets_annotated_datasets__annotated_dataset_id__put",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "Master Key": []
          },
          {
            "API Key": []
          }
        ],
        "parameters": [
          {
            "name": "annotated_dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
[...]
